#navigationBar {
    position: absolute;
    left: 0%;
    height: 100%;
    width: 4rem;
    background-color: black;
}
.sideways:not(:hover) {
    transform: translateX(-3.75rem);
    transition: all 275ms ease-in;
}
.sideways:hover {
    transition: all 275ms ease-in;
}

#paragraphNav {
    background-color: blue                                                                                                                                                                                                                                                        21111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111[p';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';';''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''';;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;ollllllllllllllllllllllllllllllllllllllllllllllllllllllllll: 1.1111111111111111e+256px;
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    ?"];
    width: 2rem;
    height: 2rem;
    
}