body {
  background-color: rgba(0, 0, 0, 0.75);
  overflow-x: hidden;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#navigationBar {
  display: flex;
  position: sticky;
  top: 0.5rem;
  left: 0rem;
  height: 64px;
  width: 64px;
  overflow: hidden;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.sideways:not(:hover) {
  transform: translateX(-86px);
  transition: all 275ms ease-in;
  background-color: rgba(0, 0, 0, 0.35);
}
.sideways:hover {
  transform: translateX(-12px);
  transition: all 275ms ease-in;
  background-color: rgba(0, 0, 0, 0.90);
}




/* Container pour les 4 ronds et 4 rectangles */
.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 12rem;
  height: 52rem;
  border: solid 10px black;
  padding: 1rem;
  overflow: hidden;
}
.container:hover {
  width: 60rem;
  transition: all 250ms ease-in-out;
}
.container:not(:hover) {
  width: 12rem;
  transition: all 250ms ease-in-out;
}

/* Ronds */
.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 12rem;
  background-color: aliceblue;
  margin: auto;
  position: relative;
  border-radius: 50%;
}
/* Rectangles */
.rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 12rem;
  background-color: white;
  position: absolute;
  right: -100%;
  top: 0;
  border-radius: 50%;
  z-index: -1;
}
/* CSS pour rectangles quand hover */
.square:hover .rectangle {
  display: flex;
  transform: translateX(13rem);
  transition: all 0.5s ease-in-out;
  width: 24rem;
  border-radius: 1rem;
}
/* CSS pour rectangles quand non-hover */
.square:not(hover) .rectangle {
  left: 0rem;

  transition: all 0.5s ease-in-out;
}

/* Hover sur ID "purple" transforme bg rouge linear, retourne default de la classe ".square" apres... */
#purple:hover {
  background-color: #44164d;
  transition: all 0.2s ease-out;
}

/* Hover sur ID "green" transforme bg rouge linear, retourne default de la classe ".square" apres... */
#green:hover {
  background-color: #17471f;
  transition: all 0.2s ease-out;
}

/* Hover sur ID "red" transforme bg rouge linear, retourne default de la classe ".square" apres... */
#red:hover {
  background-color: #700303;
  transition: all 0.2s ease-out;
}

#turquoise:hover {
  background-color: turquoise;
  transition: all 0.2s ease-out;
}
