/* Styles pour desktop */
@media (orientation: landscape) {
  * {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: rgba(0, 0, 0, 0.85);
    font-family: cursive;
    width: 100dvw;
    background-color: #0a0412;
    /**/
  }

  #navigationBar {
    display: flex;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 10dvh;
    max-height: 1in;
    width: 100dvw;
    overflow: hidden;
    transition: all 275ms ease-in;
    gap: 0.25in;
  }
  #navigationBar:not(:hover) {
    background-color: rgba(100, 100, 100, 0.05);
  }
  #navigationBar:hover {
    background-color: rgba(100, 100, 100, 0.85);
  }
  #imageLogo {
    display: flex;
    align-self: center;
    width: 64px;
    height: 64px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1%;
    overflow-y: hidden;


  }
  #navigationBar:not(:hover) h1 {
    color: white;
    transition: all 500ms ease-in;
    
  }
  #textJeremyMasson {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    border-right: rgba(0, 0, 0, 0.85) 2px solid;
    border-left: rgba(0, 0, 0, 0.85) 2px solid;
    align-items: center;
    color: #44164d;
    
  }
  #headerJeremyMasson {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  #textDev {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: #44164d;
  }
  #headerDev {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
  }





  /* Cercles */
  .cercle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20dvh;
    height: 20dvh;
    background-color: aliceblue;
    /*border-radius: 50%;*/
    transition: all 500ms ease-out;
  }
  /* Rectangles */
  .rectangle {
    position: absolute;
    top: 36dvh;
    left: -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 60dvw;
    height: 60dvh;
    background-color: white;
    border-radius: 3% 3%;
  }
  .rectangle p {
    margin: auto;
  }
  .rectangle span {
    font-size: 5dvh;
    font-style: italic;
  }
  .rectangle a {
    all: unset;
    color: azure;
    font-style: italic;
    font-weight: bold;
  }
  .show {
    left: 8dvh;
    transition: all 500ms ease-out;
  }
  .circleWhileShown {
    width: 12dvw;
    height: 12dvw;
    background-color: rgba(200, 200, 200, 0.25);
    z-index: 1;
    transform: scaleY(1);
    transition: all 500ms ease-out;
  }
  .loadAnimated {
    transform: translateX(-100dvw);
    background-color: transparent;
    color: transparent;
  }

  #containerForBubbles {
    display: flex;
    width: 100dvw;
    height: 1200px;
    position: absolute;
    top: 10dvh;
    left: 0%;
    background-color: aliceblue;
    background-image: url("./bgChute.JPG");
    background-position: center;
    background-size: cover;
    background-clip: border-box;
  }
  #wrapperBubbles {
    display: flex;
    background-color: rgba(100, 100, 100, 0.55);
    height: min-content;
    width: min-content;
    margin-top: 0.25in;
    margin-bottom: 0.25in;
    padding-top: 0.25in;
    padding-bottom: 0.25in;
    transition: all 500ms ease-out;
    overflow-y: hidden;
  }

  /*  */
  #purple {
    cursor: pointer;
  }
  /* Hover sur ID "purple" transforme bg rouge linear, retourne default de la classe ".square" apres... */
  #purple:hover {
    background-color: #44164d;
    transition: all 0.2s ease-out;
  }
  #purpleRectangle {
    background-color: #44164d;
    transition: all 500ms ease-in-out;
  }

  #green {
  }
  /* Hover sur ID "green" transforme bg rouge linear, retourne default de la classe ".square" apres... */
  #green:hover {
    background-color: #17471f;
    transition: all 0.2s ease-out;
  }
  #greenRectangle {
    background-color: #17471f;
    transition: all 500ms ease-in-out;
  }

  #red {
  }
  /* Hover sur ID "red" transforme bg rouge linear, retourne default de la classe ".square" apres... */
  #red:hover {
    background-color: #700303;
    transition: all 0.2s ease-out;
  }
  #redRectangle {
    background-color: #700303;
    transition: all 500ms ease-in-out;
  }

  #turquoise {
  }
  #turquoise:hover {
    background-color: turquoise;
    transition: all 0.2s ease-out;
  }
  #turquoiseRectangle {
    background-color: turquoise;
    transition: all 500ms ease-in-out;
  }
} /* Fin de Desktop */

/* Styles for mobile */
@media (orientation: portrait) and (max-width: 768px) {
  * {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  body {
    background-color: rgba(0, 0, 0, 0.85);
    font-family: cursive;
  }
  #wrapperForEverything {
    height: 100dvh;
    width: 100dvw;
    max-width: 768px;
    background-image: url("./bgRiviere_Mobile.png");
    background-size: cover;
    background-position: center;
    background-clip: padding-box;
    clip-path: inset(0 0 0 0);
  }

  #navigationBar {
    display: flex;
    position: sticky;
    height: 4dvh;
    width: 100dvw;
    overflow-x: hidden;
    overflow-y: hidden;

  }
  #navigationBar:not(:hover) {
    transition: all 275ms ease-in;
    background-color: rgba(100, 100, 100, 0.25);
  }
  #navigationBar:hover {
    transition: all 275ms ease-in;
    background-color: rgba(0, 0, 0, 0.85);
  }
  #imageAccueil {
    display: flex;
    width: 64px;
    height: 64px;
    align-self: center;
    overflow-y: hidden;
  }

  /* Cercles */
  .cercle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 8dvh;
    height: 8dvh;
    background-color: aliceblue;
    border-radius: 50%;
    font-size: 35%;
  }
  /* Rectangles */
  .rectangle {
    box-sizing: border-box;
    position: absolute;
    top: 20dvh;
    left: -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 60dvw;
    height: auto;
    background-color: white;
    border-radius: 3% 3%;
    padding: 1dvh;
  }
  .rectangle span {
    font-size: 50%;
    font-style: italic;
  }
  .rectangle a {
    all: unset;
    color: azure;
    font-style: italic;
    font-weight: bold;
  }

  /* toggled classes via JS */
  .show {
    left: 8dvh;
    transition: all 500ms ease-out;
  }
  .circleWhileShown {
    width: 6dvh;
    height: 6dvh;
    background-color: rgba(200, 200, 200, 0.15);
    z-index: 1;
    font-size: 20%;
    transition: all 500ms ease-out;
  }

  /* Circles styles */
  /* ID "purple" */
  #purple {
    position: absolute;
    top: 8dvh;
    left: 1dvh;
    cursor: pointer;
  }
  #purple:hover {
    background-color: #44164d;
    transition: all 0.2s ease-out;
  }
  #purpleRectangle {
    background-color: #44164d;
    transition: all 500ms ease-in-out;
  }

  /* ID "green" */
  #green {
    position: absolute;
    top: 8dvh;
    left: 11dvh;
  }
  #green:hover {
    background-color: #17471f;
    transition: all 0.2s ease-out;
  }
  #greenRectangle {
    background-color: #17471f;
    transition: all 500ms ease-in-out;
  }

  /* ID "red"  */
  #red {
    position: absolute;
    top: 8dvh;
    left: 21dvh;
  }
  #red:hover {
    background-color: #700303;
    transition: all 0.2s ease-out;
  }
  #redRectangle {
    background-color: #700303;
    transition: all 500ms ease-in-out;
  }

  /* ID "turquoise"  */
  #turquoise {
    position: absolute;
    top: 8dvh;
    left: 31dvh;
  }
  #turquoise:hover {
    background-color: turquoise;
    transition: all 0.2s ease-out;
  }
  #turquoiseRectangle {
    background-color: turquoise;
    transition: all 500ms ease-in-out;
  }
}
